<html>
<head>
  <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
</head>
<body>
  <div id='header'>
  <button id='addLetterButton'> Add Letter </button>
  <button id='sendToServer' >Upload Word to Server</button>
  <button id='clear'>Clear Inputs</button>
  <button id='remove'>Remove a Letter</button>
  </div>
	<ul style="display: inline-block;"></ul>
  <ul id='myList' />
  <div id='footer'>
    <p1><b>This is a spell checker and word recognizer. It can only check one word at a time.<br>
      For best results, try to scale the letter to fit up to the edges of the box and center letters.<br>
      Only lower case letters are supported. <br>
      The page will alert you with your top three suggestions after writing a word <br>
      and hitting "Upload Word to Server". Note that requests may take a few seconds.</b></p1>
  </div>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
	<script type="text/javascript" src="javascripts/home.js"></script>
</body>
</html>
