<html>
<head>
</head>
<body>
	<button id='addLetterButton'> Add Letter </button>
	<button id='sendToServer' style="display: inline-block;">Upload Word to Server</button>
	<button id='clear' style="display: inline-block;">Clear Inputs</button>
	<button id='testAjax' style="display: inline-block;">testAjax</button>
	<p1 id="status" style="display: inline-block;">Status</p1>
  <ul id='myList' />
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
	<script type="text/javascript" src="javascripts/jscode.js"></script>
</body>
</html>